.article {
    min-height: 200px;
    background: rgba(255,255,255,0.3);
    padding: 2rem 3rem;
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-transform: uppercase;
}

.date {
    text-transform: uppercase;
    padding: 0;
}

.banner {
    padding: 1rem 0;
    width: 100%;
    border-radius: 5px;
}

.content {
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 5px;    
}

@media (max-width: 700px) {
    .article {
        padding: 1rem 1rem;
    }
}
